    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <link rel="icon" type="image/png" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" sizes="128x128" />
    <meta name="application-name" content="APIs-for-Libraries"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <meta name="msapplication-square70x70logo" content="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <meta name="msapplication-square150x150logo" content="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <meta name="msapplication-wide310x150logo" content="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
    <meta name="msapplication-square310x310logo" content="https://joshuadull.github.io/APIs-for-Libraries/assets/favicons/favicon.ico" />
